<section class="section5">
    <div class="container">
        <h2 class="text-center text-justify" style="font-weight:bold;">Cool Features</h2>
        <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, voluptas iusto delectus consectetur odio
            animi vero quos dolor! Itaque, magni explicabo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui Lorem ipsum dolor sit amet, consectetur adipisicing elit. QuiLorem ipsum dolor sit amet, consectetur </p>
        <div class="row justify-content-center mb-2 text-center">
            <div class="col-md-4 mb-2">
                <div class="card ">
                    <div class="card-body">
                    <i class="fa fa-2x fa-globe" ></i>
                    <h6 class="card-title">Digital Designss</h6>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card" style="background-color:#FAFAFA;">
                    <div class="card-body">
                    <i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i>    
                    <h6 class="card-title">Unlimited Colors</h6>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-body">
                    <i class="fa fa-code fa-2x" aria-hidden="true"></i>
                    <h6 class="card-title">Strategy Solutions</h6>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            
            <div class="col-md-4 mb-2">
                <div class="card"style="background-color:#FAFAFA;">
                    <div class="card-body">
                        <i class="fa fa-2x fa-phone-square" aria-hidden="true"></i>
                    <h6 class="card-title">Awesome Support</h6>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card ">
                    <div class="card-body">
                  <div class="card-img-top"><i class="fa fa-2x fa-paper-plane" aria-hidden="true"></i></div>
                    <h6 class="card-title" > Multiperpose Desk</h6>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.  </p>
                </div>
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="card"style="background-color:#FAFAFA;">
                    <div class="card-body">
                        <i class="fa fa-2x fa-credit-card" aria-hidden="true" text-center></i>
                    <h6 class="card-title">Easy To Costomize</h6>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2"><div class="col-lg-3"><button type="button" class="btn btn-outline btn-block" style="background-color:#e9a447;font-weight: bold;">Read
                More</button></div></div>
    </div>
</section>