<section class="section2">
    <div class="container">
    <h2 class="text-center"style="font-weight:bold">Our Features</h2>
    <p class="text-center text-justify" style="padding:20px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
        sequi, eos mollitia amet fugiat, nisi distinctio <br>
        consequatur animi accusamus cum sint quas cumque dolor?</p>
        <div class="row" >
            <div class="col-md-4  mt-5 a" >
                <i class="fa fa-2x fa-wifi center"></i>
                <h5>Creativity Innovation</h5>
                <p>Lorem ipsum dolor, sit amet<br> consectetur adipisicing</p>
                <br>
                <i class="fa fa-2x fa-music center" aria-hidden="true"></i>
                <h5 >Working Form</h5>
                <p>Lorem ipsum dolor, sit amet.<br> Similique dignissimos commodiz</p>
            </div>
            <div class="col-md-4"><img src="assets/images/apple11.png"></div>
            <div class="col-md-4 mt-5">
                <i class="fa fa-2x fa-address-card center" aria-hidden="true"></i>
                <h5>Creative Execution</h5>
                <p>Lorem ipsum dolor, sit amet<br> consectetur adipisicing</p>
                <br>
                <i class="fa fa-2x fa-cloud center" aria-hidden="true"></i>
                <h5>Sky's The Limit</h5>
                <p>Lorem ipsum dolor, sit amet.<br> Similique dignissimos</p>
            </div>

            
            